{% extends "layout.twig" %}

{% block content %}

<div class="bk-pt-default">

<div class="header-wrapper clearfix">
<header class="bk-header">
    <div class="wrapper clearfix">
        {{widget('extendednavigation', 'navigationheader', {})|raw}}
        {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
        {{widget('companyname', 'companyname', {"business": "profile"})|raw}}


    </div>
</header>
</div>

<div class="canvas">
<div class="main wrapper clearfix">
    {{zone('main')|raw}}
</div>
</div>

<footer class="bk-footer">
    <div class="wrapper clearfix">
        {{widget('profile', 'footercolumn1socialicons', { 'profileType':'socialicons', 'socialicons':'profile'})|raw}}
        {{widget('profile', 'footercolumn1profileEmail', { 'profileType':'email', 'email':'profile'})|raw}}
        {{widget('profile', 'footercolumn1profilePhone', { 'profileType':'phone', 'phone':'profile'})|raw}}
    </div>
</footer>

</div>

{% endblock %}
